@using Microsoft.JSInterop
@inject JsInterop js

<div class="my-component">
    This component is defined in the <strong>NativeBrowser.Blazor</strong> library.
</div>

<button @onclick="OnClick">Send YES!</button>

@code
{

    private async Task OnClick()
    {
        await js.SendMessage("Yes!");
    }
}
