@page "/counter"
@inject IJSRuntime jsRuntime
<PageTitle>Counter</PageTitle>

<h1>Send</h1>

<button class="btn btn-primary" @onclick="SendYes">Click me</button>

@code {
    

    private async Task SendYes()
    {
        await jsRuntime.BrowserSendMessage("yes");
    }
}
